<html>
<head>
    <link type="text/css" href="/static/jq/themes/smoothness/ui.all.css" rel="stylesheet" />
    <style>
        body { background-color: #bbb; font-family: Georgia; margin: 0; }
        div.note {
            position: absolute; width: 200px; height: 150px; padding: .2em;
            background-color: #669; border: 1px solid #446;
            overflow: hidden; }
        div.toolbar {
            float: right; width: 150px; height: 400px; padding: 1em;
            background-color: #037; opacity: 0.5 }
        div.button {
            text-align: center; display: inline-block; position: absolute;
            padding: .2em; background-color: #777; }
        div.drag_active { border-color: #880; }
        div.drag_hover { border-color: #7f7; }
    </style>

    <script type="text/javascript" src="/static/jq/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="/static/jq/ui/ui.core.js"></script>
    <script type="text/javascript" src="/static/jq/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="/static/jq/ui/ui.droppable.js"></script>
    <script type="text/javascript" src="/static/jq/ui/ui.resizable.js"></script>
    <script type="text/javascript">
        $.make_note = function(note_id, note_props, parent_note) {
            var note = $('<div>').append( $('<p>').append(note_props['desc']) );
            note.append( $('<a>').append('[+]').click(on_add_child) );

            var note_children;
            $.getJSON('/notes/' + note_id + '/children', function(data) {
                note_children = data;
                var children_div = $('<div class="children">')[0];
                note.append(children_div);
                $.each(data, function(item) {
                    var child_note_id = this
                    $.getJSON('/notes/' + child_note_id, function(data) {
                        $.make_note(child_note_id, data, children_div);
                    });
                });
            });

            note.attr('id', note_id).attr('class', 'note');
            note.css({'left': note_props['x'], 'top': note_props['y'],
                    'width': note_props['w'], 'height': note_props['h']});
            note.resizable({stop: after_resize}).draggable({stop: after_drag});
            note.droppable({greedy: true,
                hoverClass: 'drag_hover', activeClass: 'drag_active',
                accept: can_drop, drop: on_drag_drop});
            $('p:first', note).click(edit_begin);

            $(parent_note).append(note);

            function on_add_child() {
                var child_note_props = {desc: 'kid'};
                $.post('/notes', child_note_props, function(data) {
                    var child_note_id = data;
                    note_children.push(child_note_id);
                    console.log('on_add_child made kid with note_id=' + child_note_id);
                    $.post('/notes/' + note_id + '/children',
                      {children: '['+note_children+']'}, function(data) {
                        $.make_note(child_note_id, child_note_props,
                            $('div.children', note)[0]);
                    }, 'json');
                }, 'json');
            }
            function edit_begin() {
                var view = $('p:first', note);
                var input = $('<textarea>').append(view.contents());
                view.replaceWith(input);
                var done_button = $('<a>').append('done').click(function() {
                    done_button.remove();
                    edit_done();
                });
                input.after(done_button);
            }
            function edit_done() {
                var input = $('textarea', note);
                var value = input.val();
                input.val('saving');
                note_props['desc'] = value;
                $.post('/notes/' + note_id, note_props, function(data) {
                    var view = $('<p>').append(value);
                    view.click(edit_begin);
                    input.replaceWith(view);
                }, 'json');
            }
            function after_resize() {
                note_props['w'] = parseInt(note.css('width'));
                note_props['h'] = parseInt(note.css('height'));
                $.post('/notes/' + note_id, note_props);
            }
            function after_drag() {
                note_props['x'] = parseInt(note.css('left'));
                note_props['y'] = parseInt(note.css('top'));
                $.post('/notes/' + note_id, note_props);
            }
            function can_drop(draggable) {
                if($('.toolbar *').index(draggable) > -1)
                    return true;
                if($(draggable).hasClass('note')) {
                    if($('.note', draggable).index(note) > -1)
                        return false;
                    return true;
                }
                return false;
            }
            function on_drag_drop(e, ui) {
                if(ui.draggable.hasClass('note'))
                    return;
                var note_offset = note.offset();
                note.append($(ui.draggable).clone().css({
                    left: ui.offset.left - note_offset.left,
                    top: ui.offset.top - note_offset.top
                }));
            }
        }

        $(function() {
            $.getJSON('/notes/0/children', function(data) {
                $.each(data, function(item) {
                    var note_id = this
                    $.getJSON('/notes/' + note_id, function(data) {
                        $.make_note(note_id, data, $('div#notes')[0]);
                    });
                });
            });
            $('.toolbar .button').draggable({helper: 'clone'});
        });
    </script>
</head>
<body>

<div id="notes"></div>

<div class="toolbar">
    <div class="button">Button</div>
</div>

</body>
</html>
