<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="ext_media/jq/themes/smoothness/ui.all.css" rel="stylesheet" />
    <link type="text/css" href="media/notes.css" rel="stylesheet" />
    <script type="text/javascript" src="ext_media/jq/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="ext_media/jq/jquery.json-1.3.min.js"></script>
    <script type="text/javascript" src="ext_media/jq/ui/ui.core.js"></script>
    <script type="text/javascript" src="ext_media/jq/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="ext_media/jq/ui/ui.droppable.js"></script>
    <script type="text/javascript" src="ext_media/jq/ui/ui.resizable.js"></script>
    <script type="text/javascript" src="media/notes.js"></script>
</head>
<body>

<ul id="notes" class="children"></ul>

<!--
<div class="toolbar">
    <div class="button">Button</div>
</div>
-->

</body>
<script type="text/javascript"><!--
$.getJSON('notes/0/children', function(data) {
    $.each(data, function(item) {
        var note_id = this;
        $.getJSON('notes/' + note_id, function(data) {
            new $.new_note(note_id, data, $('ul#notes')[0]);
        });
    });
});
$('.toolbar .button').draggable({helper: 'clone'});
--></script>
</html>
