<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="ext_media/jq/themes/smoothness/ui.all.css" rel="stylesheet" />
    <link type="text/css" href="media/notes.css" rel="stylesheet" />
    <script type="text/javascript" src="ext_media/jq/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="ext_media/jq/jquery.json-1.3.min.js"></script>
    <script type="text/javascript" src="ext_media/jq/ui/ui.core.js"></script>
    <script type="text/javascript" src="ext_media/jq/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="ext_media/jq/ui/ui.droppable.js"></script>
    <script type="text/javascript" src="ext_media/jq/ui/ui.resizable.js"></script>
    <script type="text/javascript" src="ext_media/jq/ui/ui.dialog.js"></script>
    <script type="text/javascript" src="media/utils.js"></script>
    <script type="text/javascript" src="media/note_model.js"></script>
    <script type="text/javascript" src="media/notes.js"></script>
</head>
<body>

<div id="root_note">
    <ul id="notes" class="children"></ul>
</div>

</body>
<script type="text/javascript"><!--
    cork_ui.setup_root_note($('div#root_note'));
--></script>

</html>
